extends layout

block content
  h1= title
  p
  | Welcome to #{title}, you can see the code on <a href="">GitHub</a>,<br />
  | and the image to download is <a href="http://aqueous-beyond-6099.herokuapp.com">here</a>.
