extends layout

block content
  h1= title
  p
    | Welcome to #{title}, this is a iOS project for download image by using NSURLSession,<br />
    | you can see the iOS code -> <a href="https://github.com/man27382210/iOS7-NSURLSession">iOS7 NSURLSession example</a>,<br />
    | and the node.js server code -> <a href="https://github.com/man27382210/iOS7-NSURLSession">Node.js server example</a>,<br />
    | the image which we are going to download is <a href="
    /img">here</a>.